<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>


</head>
<body>

<dl id="chat-disp">
    <dt id="chat-header">
        <span>ORANGE챗봇</span>
        <span class="btn-wrap">
				<button type="button" id="btn-chat-close" onclick="disconnect()">X</button>
			</span>
    </dt>
    <dd id="chat-content">

    </dd>
    <dd id="chat-question" class="flex between">
        <span class="flex column center"><i></i></span>
        <input type="text" id="question"  placeholder="질문을 입력하세요">
        <button type="button" id="btn-msg-send" onclick="btnMmsgSendClicked()">전송</button>
    </dd>
</dl>

</body>
</html>