<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
    	$(function(){
    		$("#btn-msg").click(function(){
    			$.ajax({
    				url:"/kafka",
    				type:"post",
    				data:{message: $("#message").val()},
    				success:function(result){
    					alert(result);
    				}
    			});
    		});
    		
    	});
    </script>
</head>
<body>
	<section>
		<input type="text" name="message" id="message">
		<button type="button" id="btn-msg">전송</button>
	</section>
	
</body>
</html>