<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<ol class="flex">
		<li>배송지</li>
		<li>주소</li>
		<li>연락처</li>
		<li>선택</li>
	</ol>
	<div th:if="${#lists.isEmpty(list)}">
		배송지 정보가 존재하지 않습니다.
	</div>
	<ol class="flex" th:each="dto :${list}">
		<li>
			<p th:text="${dto.deliveryAddrName}">배송지이름</p>			
			<p th:text="${dto.receiverName}">수신자이름</p>
			<p th:if="${dto.base}"><button class="base btn">기본배송지</button> </p>
		</li>
		<li>
			<p th:text="${dto.postcode}">우편번호</p>
			<p>
				<span th:text="${dto.roadAddress}">도로명주소</span>
				<span th:text="${dto.extraAddress}">참고항목</span>
			</p>
			<p th:text="${dto.detailAddress}">상세주소</p>
		</li>
		<li>
			<p th:text="${dto.phone1}">전화번호</p>
		</li>
		<li>
			<div>
				<button class="btn padding-h-1" id="choice-addresses">선택</button>
				<button class="btn padding-h-1" id="delete-addresses">삭제</button>
			</div>
		</li>
	</ol>
</html>