<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 th:replace="~{layout/layout :: myLayout(~{this::head}, ~{::main})}">
<head>
    <!-- 해당하는 페이지의 css나 js를 아래에 적용 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- jQuery -->
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script> -->
	<!-- iamport.payment.js -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<script type="text/javascript">
	  const IMP = window.IMP; // 생략 가능
	  IMP.init("imp65153043"); // 예: imp00000000a
	  
	  var merchant_uid;
	  
	  //결제완료된 이후 실행
	  function pmDone(){
		  //결제 상품정보
		  var orderItems=[];
		  var checkedItems=$(".cb:checked");
		  $.each(checkedItems, function(index, item){
			  var orderItem={
				  itemNo: $(item).siblings(".item-no").val(),//결제할 아이템의 pk
				  quantity:$(item).siblings(".quantity").val()//결제할 아이템의 개수
			  }
			 orderItems.push(orderItem);
	  	  });
		  //결제번호: 전역변수에 저장되어있음
		  
		  var liIdx=$("#menu-d>li.target").index();
		  if(liIdx==1){
			  $("#form-delivery").submit();
		  }
		  //배송정보
		  // - 기본배송지 정보
		  // - 신규배송지 정보
		  //$("#form-delivery").submit()
		  console.log("배송지 정보 등록 확인!")
		  var deliveryNo=$("#delivery-no").val();
		  // $("#form-delivery").submit() 처리가 완료되야
		  // $("#delivery-no").val() 데이터를 읽어올수 있어요
		  var data={
			  		orderGoods: orderItems,
					  paymentNo: merchant_uid,
					  deliveryNo: deliveryNo
				  }
				  
			//json탑입데이터를 컨트롤러로 매핑하기위해
		  $.ajax({
			  url:"/members/order",
			  type:"post",
			  dataType:"json",
			  contentType: "application/json;charset=UTF-8",
			  data: JSON.stringify(data),
			  success: function(){
				  
			  }
		  });
		  
		  
	  }
	  
	  function btnPgClicked(){
		  //1.페이지에서 결제정보 수집하는 방법 : 구매자 정보,상품정보,배송
		
		var checkedItems=$(".cb:checked");
		//.siblings(".item-no");
		
		var title=$(checkedItems[0]).siblings(".title").val();
		if(checkedItems.length>1){
			title +=" 외 "+(checkedItems.length-1)+"건";
		}					
		//var quantity;
		var payPrice=0;
		console.log("length: "+checkedItems.length);
		
	  	$.each(checkedItems, function(index, item){
	  		payPrice += parseInt($(item).siblings(".payPrice").val());
	  	});
		  payPrice=100;		//임시로
	  	merchant_uid="ORD_"+new Date().getTime();
	  	
	  	
	  	
	  	var data={
	  		merchant_uid: merchant_uid,
	  		name: title,
	  		amount: payPrice,
	  		buyer_email: $("#user-email").val(),
	  		buyer_name: $("#user-name").val(),
	  		buyer_tel: "",
			buyer_addr: "",
			buyer_postcode: ""
	  	};
	  	requestPay(data);
	  }
	  
	  //iamport 결제창 띄우기
	  function requestPay(data) {
		    IMP.request_pay({
		      pg: "html5_inicis",
		      pay_method: "card",
		      merchant_uid: data.merchant_uid,   // 결제번호(중복불가)
		      name: data.name,					 // 상품명
		      amount: data.amount,               // 결제금액
		      buyer_email: data.buyer_email,
		      buyer_name: data.buyer_name,
		      buyer_tel: data.buyer_tel,
		      buyer_addr: data.buyer_addr,
		      buyer_postcode: data.buyer_postcode
		    }, function (rsp) { // callback
		      if (rsp.success) {
		        // 결제 성공 시 로직
		        //DB에반영할 데이터 처리
		        alert("결제가 완료되었습니다.");
		        pmDone();       
		        
		      } else {
		    	alert("결제실패!");
		      }
		    	
		    });
		  }
	</script>
    <script src="/js/user/daumPostcode.js"></script>
    <link rel="stylesheet" href="/css/goods/comm.css">
    <link rel="stylesheet" href="/css/user/order-payment.css">
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div class="wrap view-size">
		
		<p class="page-tit">주문/결제</p>
		<section id="cart">
			<h1>주문/결제</h1>
			<div class="wrap ">
				<table>
					<thead>
						<tr>
							<td>선택</td>
							<td>상품이미지</td>
							<td>상품정보</td>
							<td>구매수량</td>
							<td>토탈금액</td>
							<td>배송비</td>
							<td>주문금액</td>
						</tr>
					</thead>
					<tbody>
						<tr class="item-info"  th:each="dto : ${list}" >
							<td>
								<input type="checkbox" class="cb"  checked="checked">
								<input type="hidden" readonly="readonly" class="item-no"  th:value="${dto.goods.no}" >
								<input type="hidden" readonly="readonly" class="quantity"  th:value="${dto.quantity}" >
								<input type="hidden" readonly="readonly" class="title"  th:value="${dto.goods.title}" >
								<input type="hidden" readonly="readonly" class="payPrice"  th:value="${dto.totPrice + dto.goods.dPrice}" >
							</td>
							<td><img alt="상품목록이미지" th:src="${dto.goods.defImgUrl}" height="100px"></td>
							<td>
								<p th:text="${dto.goods.title}">상품명</p>
								<p th:text="${#numbers.formatInteger(dto.goods.price , 0 ,'COMMA')}">단가</p>
							</td>
							<td th:text="${dto.quantity}">구매수량</td>
							<td th:text="${#numbers.formatInteger(dto.totPrice , 0 ,'COMMA')}">토탈금액</td>
							<td th:text="${#numbers.formatInteger(dto.goods.dPrice , 0 ,'COMMA')}">배송비</td>
							<td th:text="${#numbers.formatInteger(dto.totPrice + dto.goods.dPrice , 0 ,'COMMA')}">주문금액</td>
						</tr>
					</tbody>
				</table>
				<section id="delivery">
					<h1>배송지정보</h1>
					<div class="wrap">
						<p>배송지선택</p>
						<ul id="menu-d" class="flex">
							<!-- ///////////기본배송지/////////////////////// -->
							<li class="target" onclick="memuDClicked(this)">
								<button type="button" id="base-delivery" >기본배송지</button>
								<div class="disp" id="base-delivery-disp">
									<p>배송지 정보가 존재하지 않습니다.</p>
								</div>
							</li>
							<!-- ///////////신규배송지/////////////////////// -->
							<li onclick="memuDClicked(this)">
								<button type="button" id="new-delivery">신규배송지</button>
								<div class="disp">
									<form id="form-delivery" >
										<dl>
											<dt>수령인</dt>
											<dd>
												<input type="text" name="receiverName">
											</dd>
										</dl>
										<dl>
											<dt>배송지명</dt>
											<dd>
												<input type="text" name="deliveryAddrName">
											</dd>
										</dl>
										<dl>
											<dt>연락처1</dt>
											<dd>
												<input type="text" name="phone1">
											</dd>
										</dl>
										<dl>
											<dt>연락처2</dt>
											<dd>
												<input type="text" name="phone2">
											</dd>
										</dl>
										<dl>
											<dt>배송지 주소</dt>
											<dd>
												<input type="text" id="postcode" name="postcode" placeholder="우편번호">
												<input type="button" onclick="daumPostcode()" value="우편번호 찾기"><br>
												<input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소">
												<input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소">
												<span id="guide" style="color:#999;display:none"></span>
												<input type="text" id="detailAddress"  name="detailAddress" placeholder="상세주소">
												<input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목">
											</dd>
										</dl>
										<!--<button type="submit">배송지 등록</button>-->
									</form>
									<!-- /////////////////////// -->
									<dl>
										<dt>배송메모</dt>
										<dd>
											<input type="text" name="memo">
										</dd>
									</dl>
								</div>
							</li>
							<!-- ///////////배송지목록/////////////////////// -->
							<li onclick="memuDClicked(this)">
								<button type="button" id="btn-delivery-list">배송지 목록</button>
								<div class="disp" id="deliveries">
									
								</div>
							</li>
						</ul>
					</div>
				</section>
				<section id="payBtn-section">
					<div class="wrap" sec:authorize="isAuthenticated()">
						<input type="hidden" id="delivery-no" >
						<input type="hidden" id="user-email" th:value="${#authentication.name}" readonly="readonly">
						<input type="hidden" id="user-name" th:value="${#authentication.principal.name}" readonly="readonly">
						<button type="button" id="btn-pg" class="btn-style-common" onclick="btnPgClicked()">결제하기</button>
					</div>	
				</section>
			</div>
		</section>
		
	</div>
</main>
</html>