@charset "UTF-8";


.img{
	width: 100px;
	height: 100px;
	background-color: rgba(0,255,255, 15%);
	border: 1px dashed #e9e9e9;
	text-align: center;
	line-height: 100px;
	font-size: 32px;
	/* background-image: url(""); */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 2em;
}
main input[type=file]{
	display: none;
}

/* 페이지 소개 */
.reg-fr>p{
	font-size: 24px;
	color: rgba(188, 125, 7, 1);
}
#all{
	width: 1200px;
	
}
/* ---------------L--------------------- */
/*---------상품 이미지 영역-------------*/

/* 대표 이미지 */
main>.reg-se> .flex>form>ul>li>div>p .img{
	width: 500px;
	height: 650px;
	background-color: rgba(0,255,255, 25%);
	border: 1px dashed #e9e9e9;
	text-align: center;
	line-height: 100px;
	font-size: 32px;
	/* background-image: url(""); */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}

/* 상세 이미지=*/
main>.reg-se> .flex>form>ul>li>div>p .subimg{
	width: 100px;
	height: 100px;
	background-color: rgba(0,255,255, 25%);
	border: 1px dashed #e9e9e9;
	text-align: center;
	line-height: 100px;
	font-size: 32px;
	/* background-image: url(""); */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
main input[type=file]{
	display: none;
}


/* 상세 이미지 추가 버튼*/
main>.reg-se> .flex form #btn-addImg{
}

/* 상품 세부 내용 크기  */
main>.reg-se> .flex form p textarea{
	position: relative;
    width: 500px;
    height: 144px;
	border: 2px solid #e9e9e9;
	border-radius: 5px;
}
/* 상품 세부 정보 크기  */
main>.reg-se> .flex form p input{
	width: 300px;
	height: 50px;
	border: 2px solid #e9e9e9;
	border-radius: 5px;
}
/* ---------------R--------------------- */
#cate{
	margin-left: 2em;
}
main>.reg-se> .flex form ul li p select{
	width: 150px;
	height: 40px;
}
/* 상품 세부 정보 영역  */
main>.reg-se> .flex{
	padding: 1em;
	margin: 0 auto;
}
/* 상품 세부 정보 간격  */
main>.reg-se> .flex form p{
	margin: 3em 2em;
}
/* title */
main>.reg-se> .flex form p #goodsTitle{
    width: 300px;
    height: 200px;
    font-size: 32px;
    font-weight: 400;
}

/* 상품 등록 버튼  */
main>.reg-se> .flex form ul li .admin-reg-btn{
	
	width: 100px;
	height: 40px;
	color:  rgba(188, 125, 7, 1);
	background-color: rgba(251, 211, 138, 0.3);
	border: 2px solid #e9e9e9;
	border-radius: 10px;
}

/* 상품 등록 버튼 강조 */
main>.reg-se> .flex form .admin-reg-btn:hover{
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.12), 0 7px 20px 0 rgba(0,0,0,0.09);
}

