<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout :: myLayout(~{this::head}, ~{this::main})">
<head>
<link rel="stylesheet" href="/css/community/notice.css">
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<style type="text/css">
</style>
</head>
	<main>
	<div class="wrap">
		<section class="board2 content-size">
		<div class="wrap content-size">NOTICE</div>
		<div class="wrap left2 view-size-m">
			<button class="bu-a"><a href="/comm/qna"><img src="/images/orange.png"/>뒤로가기</a></button>
		</div>
		<div>
			<table class="table2 center flex">
				<div class="wrap">
					<tr class="tr1">
						<th class="bno">번호</th>
						<th class="title">제목</th>
						<th class="writer">작성자</th>
						<th class="createdDate">날짜</th>
						<th class="readCount">조회수</th>
					</tr>
				</div>
				<div class="wrap">
					<tr class="tr2">
						<td>1</td>
						<td>스티키오렌지에 오신걸 환영합니다</td>
						<td>관리자</td>
						<td>2022.12.12</td>
						<td>5000</td>
					</tr>
					</div>
				</table>
			</div>
		</section>
	</div>
</main>
</html>