<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout :: myLayout(~{this::head}, ~{this::main})">
<head>
<link rel="stylesheet" href="/css/community/qna.css">
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<style type="text/css">
</style>
</head>
<title>무엇이든 물어보셔</title>
<main>
	<div class="wrap">
		<nav id="all">
			<div class="wrap content-size">COMMUNITY</div>
				<div>
					<ul class="mu flex center">   
						<li class="admin list">
							<a href="/comm/notice"><img src="/images/cs/notice.png"/><span>NOTICE</span></a>
						</li>
						<li class="Mc list">
							<a href="/comm/faq"><img src="/images/cs/qna.png"/><span>Q&A</span></a>
						</li>
						<li class="truck list">
							<a href="/comm/review"><img src="/images/cs/review.png"/><span>REVIEW</span></a>
						</li>
						<li class="event list">
							<a href="/comm/event"><img src="/images/cs/event.png"/><span>EVENT</span></a>
						</li>
					</ul>
				</div>
			</nav>
		
	</div>
</main>
</html>