<!DOCTYPE html>
<html>
<footer>
	<h1>푸터파일</h1>
	<div class="wrap view-size">
		<nav id="f-menu">
			<h1>푸터 메뉴</h1>
			<div class="wrap view-size-c">
				<ul class="footer-menu flex between">
					<li class="s-menu">
						<a href="/"><span>SERVICES</span></a>
						<ul class="s-sub sub ">
							<li><a href="/">customer service</a></li>
							<li><a href="/">payment</a></li>
							<li><a href="/">shipping</a></li>
							<li><a href="/">returns</a></li>
						</ul>
					</li>
					<li class="st-menu">
						<a href="/"><span>STICKY ORANGE</span></a>
						<ul class="st-sub sub">
							<li><a href="/">about</a></li>
							<li><a href="/">wholesale</a></li>
							<li><a href="/">contact</a></li>
							<li><a href="/">terms & conditions</a></li>
						</ul>
					</li>
					<li class="n-menu">
						<a href="/"><span>NEWSLETTER</span></a>
						<ul class="n-sub sub">
							<li>
								<input type="email" name="email" class="box" placeholder="Email Address"/>
								<button class="bbox"><a href="/" style="color:rgba(213,166,118,1)">GO!</a></button>
							</li>
							<li><a href="/">facebook</a></li>
							<li><a href="/">instagram</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<section id="card">
			<h1>card</h1>
			<div class="wrap flex center">
				<img src="/images/footerImg/card-img.png" class="img_card"/>
			</div>
		</section>
		<section id="copy">
			<h1>카피라이트</h1>
			<div class="wrap">
				opyright &copy; sticky orange 2022 - all rights reserved.
			</div>
		</section>
	</div>
</footer>
</html>
