<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout :: myLayout(~{this::head}, ~{this::main})"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" href="/css/board/detail.css">
    <script type="text/javascript" src="https://livejs.com/live.js"></script>

    <style type="text/css">
    	#edit-mode{display: none;}
    </style>
    <script type="text/javascript">
    $(function(){
    	$("#btn-edit").click(editMode);
    	$("#btn-cancel").click(function(){
    		$("#edit-mode").hide();
        	$("#def-mode").show();
    	});
    });
   
    
    function editMode(){
    	$("#edit-mode").show();
    	$("#def-mode").hide();
    }
    
    </script>
</head>
<body>
    <main>
    	<h1>메인영역</h1>
    	<div class="wrap view-size-m center">
    		<div class="title-d">문의글 조회</div>
    		<!-- ROLE_USER 인경우만 -->
    		<div class="wrap flex center">
	    		<div sec:authorize="hasRole('USER')">
	    			<!-- 현재접속유저의 username == 작성자email일치한 경우 수정버튼 활성화 -->
	    			<!-- 현재 #authentication.name , #authentication.principal.email 일치하는데이터 -->
	    			<span th:if="${#authentication.name == detail.writerEmail}">
	    				<button type="button" class="bu-a bu-A" id="btn-edit">수정</button>
	    			</span>
	    		</div>
	    		<div sec:authorize="hasRole('USER')">
	    			<th:block th:if="${#authentication.name == detail.writerEmail or #authorization.expr('hasRole(''ADMIN'')')}">
	    			<form th:action="|/comm/board-list/${detail.bno}|" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<button class="bu-a" id="btn-cancel">삭제</button>
					</form>
					</th:block>
	    		</div>
	    		<button class="bu-a"><a href="/comm/qna"><img src="/images/orange.png"/>뒤로가기</a></button>
    		</div>
    		
    		<form id="edit-mode" th:action="|/comm/board-list/${detail.bno}|" method="post">
    			<div class="wrap view-size-m">   			
    			<table class=".table-0" border="1" >
		    			<tr>
		    				<td class="td-t">글번호</td>
		    				<td th:text="${detail.bno}"></td>
		    			</tr>
		    			<tr>
		    				<td class="td-t">작성일</td>
		    				<td th:text="${detail.createdDate}"></td>
		    			</tr>
		    			<tr>
		    				<td class="td-t">최종수정일</td>
		    				<td th:text="${detail.updatedDate}"></td>
		    			</tr>
		    			<tr>
		    				<td class="td-t">조회수</td>
		    				<td  th:text="${detail.readCount}"></td>
		    			</tr>
		    			<tr>
		    				<td class="td-t">작성자</td>
		    				<td  th:text="${detail.writerNickName}"></td>
		    			</tr>
		    			<tr>
		    				<td class="td-t">제목</td>
		    				<td>
		    					<input type="text" name="title" th:value="${detail.title}">
		    				</td>
		    			</tr>
		    			<tr>
		    				<td class="td-t">내용</td>
		    				<td >
		    					<textarea rows="5" cols="50" name="content">[[${detail.content}]]</textarea>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td colspan="2">
		    					<input type="hidden" name="_method" value="PUT">
		    					<button type="submit" class="bu-a">수정완료</button>
		    					<button type="button"  class="bu-a">취소</button>
		    				</td>
		    			</tr>
		    		</table>
	    		</div>
    		</form>
    		<!-- //////////////////////////////////////// -->
    		<table border="1" id="def-mode">
    			<tr>
    				<td>글번호</td>
    				<td th:text="${detail.bno}"></td>
    			</tr>
    			<tr>
    				<td>작성일</td>
    				<td th:text="${detail.createdDate}"></td>
    			</tr>
    			<tr>
    				<td>최종수정일</td>
    				<td th:text="${detail.updatedDate}"></td>
    			</tr>
    			<tr>
    				<td>조회수</td>
    				<td  th:text="${detail.readCount}"></td>
    			</tr>
    			<tr>
    				<td>작성자</td>
    				<td  th:text="${detail.writerNickName}"></td>
    			</tr>
    			<tr>
    				<td>제목</td>
    				<td  th:text="${detail.title}"></td>
    			</tr>
    			<tr>
    				<td>내용</td>
    				<td th:text="${detail.content}"></td>
    			</tr>
    		</table>
	    		<div>
	    			<hr>
	    			<h2 class="title-d">관리자 답변</h2>
	    			<div class="tit-d">
	    				<textarea th:name="adminReply" th:id="admin_answer" th:text="${detail.adminReply}" rows="8" cols="60" readonly="readonly"></textarea>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </main>
</body>
</html>