@charset "UTF-8";
main{
	margin: 5em auto;
}
main div{
	height:600px;
	padding: 3em;
	background-color: rgb(206, 222, 215);
}
main>div>.accounts>ol.accounts-menu:first-child{
	padding: 1em;
	border-bottom: 1px solid #fff;
}
main>div>.accounts>ol.accounts-menu>li{
	padding: 0.2em;
}
main>div>.accounts>ol.accounts-menu>li:first-child {
	font-size: 32px;
	font-weight: 500;
	color: #222;
}

main>div>.accounts>ol.accounts-menu #LoginEmail {
	font-size: 14px;
	font-weight: 200;
	color: #a4a4a4; 
	padding: 0.2em;
}
main>div>.accounts>ol.accounts-menu #LoginEmail span{
	font-size: 14px;
	font-weight: 200;
	color: #a4a4a4; 
}
main>div>nav.accounts{
	padding: 1em;
	border-bottom: 1px solid #fff;
}
main>div>.accounts form{
	margin: 2em;
	height: 350px;
}
main>div>.accounts form .accounts-content>li p.pp{
	font-weight: 200;
}
main>div>.accounts form .accounts-content>li p.pp input{
	font-weight: 400;
}
main>div>.accounts form .accounts-content>li p.pp input::placeholder{
	color: black;
}
button.bu-aa{
	display:inline-block;
	padding: 5px 15px 5px 15px;
	border-style: solid;
	border-color:#8e8e8e;
	background-color: #8e8e8e;
	color: rgb(206, 222, 215);
	font-weight: 200;
}
li>input.bu-dd, .bu-dd{
	display:inline-block;
	padding: 5px 15px 5px 15px;
	border-style: solid;
	border-color:#8e8e8e;
	background-color: #8e8e8e;
	color:  rgb(206, 222, 215);
	font-weight: 200;
}

