<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="adminpage/admin-layout::adminLayout(~{this::head}, ~{this::main})">
	<head>
			<link rel="stylesheet" href="/css/admin/admin-main.css">
	</head>
	<main>
		<div class="wrap">
			<ul class="g-containter">
				<li>
					<div class="card-title">
						<p><a href="#">인기상품</a></p>
						<p>판매수량 : 1,200</p>
						<hr>
					</div>
					<div class="card-content">
						
						<span><img src="/images/main/sec3-1.jpg"></span>
						<span>1. backpack large</span>
						<p></p>
						
						<span><img src="/images/main/sec3-2.jpg"></span>
						<span>2. pouch bag</span>
						<p></p>
						
						<span><img src="/images/main/sec3-3.jpg"></span>
						<span>3. rain boots</span>
					</div>
				</li>
				<li>
					<div class="card-title">
						<p><a href="#">거래처</a></p>
						<p>판매순위</p>
						<hr>
					</div>
					<div class="card-content">
						<a href="#">
							<span><img src="/images/admin/adminmain/correspondent1.jpg"></span>
							<span>1. APM - ecru standard</span>
						</a>
						<p></p>
						<a href="#">
							<span><img src="/images/admin/adminmain/correspondent2.jpg"></span>
							<span>2. APM PLACE - Helvetica</span>
						</a>
						<p></p>
						<a href="#">
							<span><img src="/images/admin/adminmain/correspondent3.jpg"></span>
							<span>3. APM - Le A</span>
						</a>
					</div>
						
				</li>
				<li>
					<div class="card-title">
						<p><a href="#">문의사항</a></p>
						<hr>
					</div>
					<div class="card-content">
						<p><a href="#">게시글 첫번쨰 글</a></p>
						<p><a href="#">게시글 두번쨰 글</a></p>
						<p><a href="#">게시글 세번쨰 글</a></p>
					</div>
				</li>
				<li>
					<div class="card-title">
						<p><a href="#">공지사항</a></p>
						<hr>
					</div>
					<div class="card-content">
						<p><a href="#">공지사항 첫번쨰 글</a></p>
						<p><a href="#">공지사항 두번쨰 글</a></p>
						<p><a href="#">공지사항 세번쨰 글</a></p>
					</div>
				</li>
				<li>
					<div class="card-title">
						<p><a href="#">event 현황</a></p>
						<hr>
					</div>
					<div class="card-content">
						<p></p>
						<p>사이트를 통한 방문자 수</p>
						<p>open event 달성률</p>
						<p>open event 참여자 수</p>
						<p></p>
						<p>instagram을 통한 방문자 수</p>
						<p>instagram event 달성률</p>
						<p>instagram event 참여자 수</p>
						<p></p>
					</div>
					
					
				</li>
				<li>
					<div class="card-title">
						<p><a href="#">영업 이익</a></p>
						<hr>
					</div>
					<div>
					<span><img id=zz src="/images/admin/adminmain/monssales.png"></span>
					<span><img id=zz src="/images/admin/adminmain/paycom.png"></span>
					<span><img id=zz src="/images/admin/adminmain/membergraph.png"></span>
					</p>
					</div>
					
				</li>
			</ul>
		</div>
	</main>
</html>