<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout :: myLayout(~{this::head}, ~{this::main})">
<head>
    <link rel="stylesheet" href="/css/main/contact.css">
    <script src="/js/main/shop.js"></script>
</head>
<main class="flex" id="all">
    <div>
        <ul>
            <h5>C O N T A C T<br><br></h5>
            <li> Any questions about our backpacks? <br>Or do you just want to say hi?</li>
            <h5>-</h5>
            <li class="brown">write us at</li>
            <li> info@stickyorange.com for customers<br>

                green@orange.com for retailers
            </li>
            <li><br> Rouaanstraat 8</li>

            9723 CD Groningen</li>

            The Netherlands</li>
            <h5>-</h5>
            <li class="brown">call us on</li>
            <li>02-6953-2002<br>
                (available at office days between<br>

                3 pm and 4 pm)
            </li>
            <h5>-</h5>
            <li>See ya!</li>
        </ul>
    </div>

</main>
</html>