<th:block th:fragment="main" xmlns="http://www.w3.org/1999/html">
    <section class="intro-left flex center">
        <div>
            <img src="/images/main/bgImg.jpg">
        </div>
        <div class="intro-right flex center column">
            <h2>What is on</h2>
            <h2>your wishlist?</h2>
            <p>Get inspired for the</p>
            <p>upcoming gift season with our</p>
            <p>selected Sticky items</p>
            <div>
                <a href="/comm/goods/list" type="button">GO TO THE SHOP</a>
            </div>

        </div>
    </section>
    <section class="sec-2 flex between">
        <div>
            <img src="/images/main/sec2-img1.jpg">
            <a href="/comm/goods/list/11">bags</a>
        </div>

        <div>
            <img src="/images/main/sec2-img2.jpg">
            <a href="/comm/goods/list/5">Shoes</a>
        </div>
        <div>
            <img src="/images/main/sec2-img3.jpg">
            <a href="/comm/goods/list/2">Clothing</a>
        </div>
        <div>
            <img src="/images/main/sec2-img4.jpg">
            <a href="/comm/goods/list/17">Accessories</a>
        </div>
    </section>
    <section class="sec-3">
        <p style="text-align: center;font-size: 20px;">SELECTED PRODUCTS</p>
        <div>
            <ul class="flex between center">
                <li>
                    <a href="#">
						<img src="/images/main/sec3-1.jpg"/>
                        <div class="flex column">
                            <p>backpack large | meet me in the meadows | moonrise pink</p>
                            <span>$64.95</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/main/sec3-2.jpg"/>
                    </a>
                    <a href="#">
                        <div class="flex column">
                            <p>pouch bag | adventure collection | tartan map green</p>
                            <span>$19.95</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/main/sec3-3.jpg"/>
                    </a>
                    <a href="#">

                        <div class="flex column">
                            <p>rain boots | meet me in the meadows | racoon</p>
                            <span>$49.95</span>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/main/sec3-4.jpg"/>
                    </a>
                    <a href="#">

                        <div class="flex column">
                            <p>fanny pack large | meet me in the meadows | deep lake blue</p>
                            <span>$24.95</span>
                        </div>

                    </a>
                </li>
            </ul>
        </div>

        <div class="line"></div>
    </section>

    <section class="sec-4 flex column center">
        <div>
            <h2>quirky, bold & sunny</h2>
        </div>
        <div>
            <p>
                <span>Sticky Lemon enjoys to experiment with renewed colour combinations and wink to the retro times!</span>
            </p>
        </div>
        <div>
            <img src="/images/main/orange.jpg">
        </div>
        <div>
            <iframe width="980" height="554" src="https://www.youtube.com/embed/b-RHrdgApaw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
        <div class="pack flex center between">
            <div>
                <img src="/images/main/sec4-1.jpg">
                <div>
                    <p>LARGE FANNY PACK</p>
                    <p><span>Next to our well-known backpacks, we're bringing you all kind of other bags & accessories. Look at this fanny pack!</span>
                    </p>
                </div>
            </div>
            <div>
                <img src="/images/main/sec4-2.jpg">
                <div>
                    <p>BACKPACKS</p>
                    <p><span>Our iconic backpacks – made of recycled PET bottles. For the little and bigger ones.</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-5 flex between">
        <div>
            <img src="/images/main/sec5-1.jpg">
        </div>
        <div>
            <img src="/images/main/sec5-2.jpg">
        </div>
        <div>
            <img src="/images/main/sec5-3.jpg">
        </div>
        <div>
            <img src="/images/main/sec5-4.jpg">
        </div>
        <div>
            <img src="/images/main/sec5-5.jpg">
        </div>

    </section>
    <div class="line"></div>
    <section class="sec-6">
        <p>
            <span>FOLLOW STICKY LEMON ON INSTAGRAM |</span>
            <a href="#">@STICKY.LEMON</a>
        </p>
        <div class="flex around">
            <a href="#"><img src="" alt="No image"></a>
            <a href="#"><img src="" alt="No image"></a>
            <a href="#"><img src="" alt="No image"></a>
        </div>
    </section>
</th:block>