.right2{
	float: right;
}

.left2{
	float: left;
}

.board3{
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	text-align: center;
	
}

.board3 div.wrap{
	margin: -35px auto;
    color: #81573F;
    font-weight: 500;
    font-size: 21px;
    padding-top: 50px;
}

.table3{
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 50px;
	width: 100%;
   /*  border-collapse: collapse; */  /*테이블 사이 간격 없애기*/
}


.table3 tr{
	background-color:#C68646;
	
}

.table3 th, td{  
	/*padding: 1em 0.5em;*/
    padding: 6px 24px;
    vertical-align: middle;
}

.table3 .tr1 th{
	color: white;
}

.table3 .tr2 {
	text-align: center;
	background-color:#ECD7C2;
}

.table3 .tr2 td{
	color:#8D6023;
	font-weight: 400;
}

#board3{
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.bu-a{
	background-color: #97654A;
    color: #e8d9d0;
    font-size: 17px;
    padding: 9px;
    border-radius: 25px;
    font-weight: 350;
}
.bu-a a{

	color: #e8d9d0;
	
}
.bu-a img{
	height: 12px;
	position: relative;
}