<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="adminpage/admin-layout::adminLayout(~{this::head}, ~{this::main})">
<head>
<style type="text/css">
main>div{
	height: 600px;
}
</style>
	<script type="text/javascript">
		$(function(){
			$("#cate1").keyup(fnKeyup);
		});


		function fnKeyup(){
			var fcate=$(this);
			var in_text=$(this).val().trim();
			if(in_text.length < 2){
				fcate.next().text("");
				return;
			}
			console.log(in_text);
			console.log(in_text.length);

			$.ajax({
				url:`/admin/categorys/${in_text}`,
				success:function(result){
					if(result==true){
						fcate.next().text("등록가능").css("color","green");
					}else{
						fcate.next().text("존재하는 카테고리명").css("color","red");
					}

				}
			});

		}
	</script>
</head>
<main>
	
		<h1>메인컨텐츠</h1>
		<div class="wrap">
			<p>카테고리 등록페이지</p>

			<form action="/admin/category/reg" method="post">
				<ul class="flex">
					<li>
						<input type="text" id="cate1" name="name" placeholder="1차카테고리" required="required">
						<div class="msg"></div>
					</li>
					<li>
						<input type="text" name="name" placeholder="2차카테고리" required="required">
						<div class="msg"></div>
					</li>
					<li>
						<input type="text" name="name" placeholder="3차카테고리" required="required" >
						<div class="msg"></div>
					</li>

					<li>
						<button>등록</button>
					</li>
				</ul>

			</form>
		</div>
	
</main>
</html>