@charset "UTF-8";
@import url("reset.css");


.flex{display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}
.aicenter{align-items: center}
.font-zero{
	font-size:0;
}
.view-size-c{
	width:940px;
	margin: 0 auto;
}
.view-size{
	width:1200px;
	margin: 0 auto;
}
.view-size-m{
	width:450px;
	margin: 0 auto;
}
.page-tit{
	display:block;
    padding: 50px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.box-style-common:focus{
	border: 1px solid  #6ba543;
	outline: 1px solid  #6ba543;
}
.box-style-common{
	width:100%;
	border-radius: 2px;
	padding: 1.5em 2em;
	border: 1px solid #a9a9a9;
}
.btn-style-common{
	width:100%;
	height: 42px;
	background-color: #ff9600;
	border-radius: 3px;
	color: black;
	font-weight: 700;
	text-align: center;
	font-size: 20px;
}

.btn-style1{
	border: 1px solid #a9a9a9;
	border-radius: 10px;
}
.delivery-shop{
	display:inline-block;
	font-size:11px;
	padding: 0 5px;
	height: 20px;
	line-height:20px;
	color: rgba(255,255,255,1);
	background-color: #6ba543;
	border-radius: 2px;
}
.delivery-lowest{
	display:inline-block;
	font-size:11px;
	padding: 0 5px;
	height: 20px;
	line-height:20px;
	color: rgba(255,0,0,1);
	border:1px solid rgba(255,0,0,1);
	border-radius: 2px;
}
.goods-name{
	font-size :18px;
	color: #333; /* #333333 */
}
.sale-rate{
	color:  #6ba543;
	font-size: 18px;
}
.buying-price{
	color:  #333;
	font-size: 18px;
}
.selling-price{
	color:  #828282;
	font-size: 15px;
	text-decoration: line-through;
}
.goods-price{
	padding-top: 15px;
	font-size: 15px;
}
.star-point{
	height:18px;
	font-size: 12px;
	color: #333;
	padding-left:15px;
	margin-top:15px;
	background: url("/img/icon/icon_star_yellow.png") no-repeat left center / 12px 12px;
}


