@charset "UTF-8";

.title-d{
	margin: -20px auto;
    color: #81573F;
    font-weight: 500;
    font-size: 21px;
    padding: 50px 0 5em;
    text-align: center;
}
.bu-a{
	background-color: #97654A;
    color: #e8d9d0;
    font-size: 17px;
    padding: 9px;
    border-radius: 25px;
    font-weight: 350;
}
.bu-a a{
	color: #e8d9d0;
}

.bu-a img{
	height: 12px;
	position: relative;
}

.table-0 th, td{  
    /* padding: 1em 0.5em; */
    padding: 10px 30px;
    vertical-align: middle;
    font-size: 18px;
    color: #81573F;
    background: #e8d9d0;
    border: 2px solid white;
    border-radius: 25px;
}
h2.title-d{
	padding: 35px;
}





